.form {
    padding: 20px;
}

.formLabel {
    margin-bottom: 30px;
    padding: 10px;

}

.input {
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
    justify-content: center;
    margin-right: 20px;
}

.wrap {
    text-align: center;
    background-color: #f2ff00;
    width: 100%;
}

.item {
    margin-top: 10px;
    justify-content: space-between;
    list-style: none;
}

.button {
    width: 140px;
    height: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

.button:hover,
.button:focus {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

