.auth {
  display: flex;
  font-size: 20px;
  text-align: center;
}

.button {
  width: 140px;
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
  text-decoration: none;
  align-items: center;
}

.active {
  color: black;
  border-radius: 5px;
  background-color: ivory;
}